# Python
**/__pycache__/
*.py[cod]
*$py.class

# Jetbrains
.idea/*
.idea/**/workspace.xml

# test flolder
test/

# csv file
**/*.csv
!MATLAB_Camera_Intrinsics.csv
!OpenCV_Camera_Intrinsics.csv
!xy.csv

# photo file
**/*.jpg
!area.jpg